body {
  background-image: url("http://twitter.github.com/bootstrap/assets/img/grid-18px-masked.png");
  background-repeat: repeat-x;
}

#page {
  padding: 10px;
}

header .headermain {
  font-size: 54px;
}

li.section.current {
  background-color: transparent;
}
li.section.current .content {
  background-color: rgb(245,245,245);
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.05);
}

.breadcrumb ul {
  padding: 7px 14px;
  margin: 0px 0px 18px;
  background-color: #fbfbfb;
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
  background-repeat: repeat-x;
  border: 1px solid rgb(221,221,221);
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 1px 0px rgb(255,255,255) inset;
}

.breadcrumb ul li {
  text-shadow: 0px 1px 0px rgb(255,255,255);
}
.breadcrumb ul li span.sep {
  padding: 0px 5px;
  color: rgb(153,153,153);
}

div.navbar {
  overflow: visible;
}
.breadcrumb {
  float: none;
}



#page-course-category #layout {
  width:750px;
}

.block { /* copied from bootstrap .well */
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.block { 
  padding: 8px 0;
}

.block .content {
  padding: 0 15px;
}
input#adminsearchquery {
  width:96px;
}
input#searchform_search {
  width:124px;
}
select.menubui_addblock {
  width:100%;
}
.block.block_settings .footer {
  padding: 0px 15px;
}
.block_navigation .content,
.block_settings .content {
  padding: 0;
}
.block_settings .block_tree .tree_item,
.block_navigation .block_tree .tree_item {
  margin: 0;
}
.jsenabled p.visibleifjs,
.block .title,
.block ul.block_tree.list li a,
.block ul.block_tree.list li span {
  display: block;
  padding: 3px 15px;
}
.block_settings .block_tree li ul,
.block_settings .block_tree li.depth_2 ul,
.block_navigation .block_tree li ul,
.block_navigation .block_tree li.depth_2 ul { /* remove the indent and put it into the leaf nodes */
  padding-left: 0px;
}
.block_settings ul.block_tree.list li ul li a,
.block_settings ul.block_tree.list li ul li span,
.block_navigation ul.block_tree.list li ul li ul li a,
.block_navigation ul.block_tree.list li ul li ul li span {
  padding-left: 30px;
}
.block_settings ul.block_tree.list li ul li ul li a,
.block_settings ul.block_tree.list li ul li ul li span,
.block_navigation ul.block_tree.list li ul li ul li ul li a,
.block_navigation ul.block_tree.list li ul li ul li ul li span {
  padding-left: 45px;
}
.block_settings ul.block_tree.list li ul li ul li ul li a,
.block_settings ul.block_tree.list li ul li ul li ul li span,
.block_navigation ul.block_tree.list li ul li ul li ul li ul li a,
.block_navigation ul.block_tree.list li ul li ul li ul li ul li span {
  padding-left: 60px;
}
.block_settings ul.block_tree.list li ul li ul li ul li ul li a,
.block_settings ul.block_tree.list li ul li ul li ul li ul li span,
.block_navigation ul.block_tree.list li ul li ul li ul li ul li ul li a,
.block_navigation ul.block_tree.list li ul li ul li ul li ul li ul li span {
  padding-left: 75px;
}
.block_navigation ul.block_tree.list li ul li ul li ul li ul li ul li ul li a,
.block_navigation ul.block_tree.list li ul li ul li ul li ul li ul li ul li span {
  padding-left: 90px;
}
.block .block_tree li a:hover,
.block .block_tree li span:hover {
  background-color: rgb(238,238,238);
  text-decoration: none;
}

.block p.activesetting span,
.block p.activesetting span:hover,
.block ul li .active_tree_node a,
.block ul li .active_tree_node a:visited,
.block ul li .active_tree_node a:hover {
  color: #fff;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
  background-color: rgb(0,136,204);
}

.block .header .title h2 {
  margin: 0;
}

.block .header .title h2,
.block h3.main {
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;
  color: rgb(153,153,153);
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
}

footer { /* copied from the bootstrap documentation page */
  margin-top: 45px;
  padding: 35px 0px 36px;
  border-top: 1px solid rgb(229,229,229);
}

footer p {
  margin-bottom: 0;
  color: rgb(85,85,85);
}

