/* for cancersciences */


#bannercontainer { 

background-position: top right;
/* background-repeat:no-repeat;
background-color:#4a6b9c; */
background-image: url(http://www.gla.ac.uk/t4/cancersciences/i/bannerback_swiss.gif);
background-repeat: repeat-x;  }

#bannerleft  {

background: url(http://www.gla.ac.uk/t4/cancersciences/i/banner_swiss.gif);
width:470px;  }
 
 

.splashpic {
background: #82b8cb   url(http://www.gla.ac.uk/t4/cancersciences/i/splashback.gif) ;
background-repeat: no-repeat;
background-position: top right;
 }
 
 .splashpic { 
background: #52adb9 url(http://www.gla.ac.uk/t4/nursing/i/splashback.gif);
background-repeat: no-repeat;
background-position: top right;
  }


h2, h4, h5, h6 { color:#003164;  }

.textsplash { background-color:#82b8cb; }