#bannercontainer { background-image: url(t4/bigswitch/i/bannerback.gif); }
#bannerleft { background-image: url(t4/services/i/banner.gif); width: 110px; } 

body.category-20 #bannercontainer { background-image: url(t4/learningandteaching/i/bannerback.gif); }
body.category-20 #bannerleft { background-image: url(t4/learningandteaching/i/banner.gif); }
body.category-26 #bannercontainer { background-image: url(t4/archives/i/bannerback.gif); }
body.category-26 #bannerleft { background-image: url(t4/archives/i/banner.gif); }
body.category-41 #bannercontainer { background-image: url(t4/careers/i/bannerback.gif); }
body.category-41 #bannerleft { background-image: url(t4/careers/i/banner.gif); }
body.category-33 #bannercontainer { background-image: url(t4/languagecentre/i/bannerback.gif); }
body.category-33 #bannerleft { background-image: url(t4/languagecentre/i/banner.gif); }
body.category-61 #bannercontainer { background-image: url(t4/equalitydiversity/i/bannerback.gif); }
body.category-61 #bannerleft { background-image: url(t4/equalitydiversity/i/banner.gif); }
body.category-19 #bannercontainer { background-image: url(t4/bigswitch/i/bannerback.gif); }
body.category-19 #bannerleft { background-image: url(t4/finance/i/banner.gif); }
body.category-24 #bannercontainer { background-image: url(t4/humanresources/i/bannerback.gif); }
body.category-24 #bannerleft { background-image: url(t4/humanresources/i/banner.gif); }
body.category-17 #bannercontainer { background-image: url(t4/itservices/i/bannerback.gif); }
body.category-17 #bannerleft { background-image: url(t4/itservices/i/banner.gif); }
body.category-22 #bannercontainer { background-image: url(t4/raps/i/bannerback.gif); }
body.category-22 #bannerleft { background-image: url(t4/raps/i/banner.gif); }
body.category-27 #bannercontainer { background-image: url(t4/staffdevelopment/i/bannerback.gif); }
body.category-27 #bannerleft { background-image: url(t4/staffdevelopment/i/banner.gif); }
body.category-68 #bannercontainer { background-image: url(t4/sls/i/bannerback.gif); }
body.category-68 #bannerleft { background-image: url(t4/sls/i/banner.gif); }
body.category-89 #bannercontainer { background-image: url(t4/sotl/i/bannerback.gif); }
body.category-89 #bannerleft { background-image: url(t4/sotl/i/banner.gif); }
body.category-105 #bannercontainer { background-image: url(t4/srs/i/bannerback.gif); }
body.category-105 #bannerleft { background-image: url(t4/srs/i/banner.gif); }
body.category-102 #bannercontainer { background-image: url(t4/number/i/bannerback.gif); }
body.category-102 #bannerleft { background-image: url(t4/number/i/banner.gif); }
body.category-106 #bannercontainer { background-image: url(t4/smallgroupwork/i/bannerback.gif); }
body.category-106 #bannerleft { background-image: url(t4/smallgroupwork/i/banner.gif); }

body.category-26 #bannerleft,
body.category-41 #bannerleft,
body.category-33 #bannerleft,
body.category-61 #bannerleft,
body.category-19 #bannerleft,
body.category-24 #bannerleft,
body.category-17 #bannerleft,
body.category-22 #bannerleft,
body.category-27 #bannerleft,
body.category-68 #bannerleft,
body.category-89 #bannerleft,
body.category-102 #bannerleft,
body.category-105 #bannerleft,
body.category-106 #bannerleft,
body.category-20 #bannerleft { width: 530px; }

body.category-26 #subhead,
body.category-41 #subhead,
body.category-33 #subhead,
body.category-61 #subhead,
body.category-19 #subhead,
body.category-24 #subhead,
body.category-17 #subhead,
body.category-22 #subhead,
body.category-27 #subhead,
body.category-68 #subhead,
body.category-89 #subhead,
body.category-102 #subhead,
body.category-105 #subhead,
body.category-106 #subhead,
body.category-20 #subhead { display: block; }
