/* for civilengineering 2 */


.splashpic { 
background: #745803 url(http://www.gla.ac.uk/t4/civilengineering/i/splashback_green.gif);
background-repeat: no-repeat;
background-position: bottom right;
  }
  



  
#subhead  {  background: #dfdfdf url(http://www.gla.ac.uk/t4/civilengineering/i/subhead_eng.gif) top left no-repeat ;
color:#666; }

#subhead a:link {
	color: #666;
	text-decoration: none; 
	border-bottom: 0;  }
#subhead a:visited {
	color: #666;
	text-decoration: none; 
	border-bottom: 0;  }
#subhead a:hover {
	color: #993333;
	text-decoration: none;
	border-bottom: 0;
}




#bannercontainer {
background-color:#745803; 
background-image: url(http://www.gla.ac.uk/t4/civilengineering/i/bannerback_green.gif);
background-position: top right;
background-repeat:no-repeat;  }

#bannerleft  {

background: #745803 url(http://www.gla.ac.uk/t4/civilengineering/i/banner_green.gif);
width:350px;  }
 

 
 
#navigation p.toptail {
background:#292051; }
 
#navigation p {
background-color:#292051;
}


#navigation p a:link {
color: #fff;
background: #292051  url(http://www.gla.ac.uk/t4/generic/i/lioff.gif) repeat-y;
}

#navigation p a:visited {
color: #fff;
background: #292051  url(http://www.gla.ac.uk/t4/generic/i/lioff.gif) repeat-y;
}

#navigation p a:hover {
display: block;
color:#fff;
background: #121212  url(http://www.gla.ac.uk/t4/generic/i/lioff.gif) repeat-y;
border-bottom: 0;
padding: 3px 1px 3px 7px;
width:160px;
voice-family: "\"}\"";
voice-family: inherit;
width:152px; 
}
 


.links ul   { background-color:#fdfdfd;  }

.links h1 {
	
	color: #fff;
	background-color:#3a1315;
	
	  }
	  
	  h1, h3 { color:#3a1315;  }
	  
  h2, h4, h5, h6 { color:#6b6b6b;  }	 