#bannercontainer { background-image: url(t4/engineering/i/bannerback.gif); }
#bannerleft { background-image: url(t4/engineering/i/banner.gif); }
#toprow,
#subhead {background-image: url(t4/generic/i/engineering/subhead.gif); }
#left-column .sideblock .header {background-color: #433f6d;}
body.category-30 #bannercontainer { background-image: url(t4/aerospaceengineering/i/bannerback.gif); }
body.category-30 #bannerleft { background-image: url(t4/aerospaceengineering/i/banner_new.gif); }
body.category-19 #bannercontainer { background-image: url(t4/civilengineering/i/bannerback.gif); }
body.category-19 #bannerleft { background-image: url(t4/civilengineering/i/banner.gif); }
body.category-11 #bannercontainer { background-image: url(t4/mechengineering/i/bannerback.gif); }
body.category-11 #bannerleft { background-image: url(t4/mechengineering/i/banner.gif); }
body.category-2 #bannercontainer { background-image: url(t4/eeengineering/i/bannerback.gif); }
body.category-2 #bannerleft { background-image: url(t4/eeengineering/i/banner.gif); }
body.category-30 #subhead,
body.category-19 #subhead,
body.category-2 #subhead,
body.category-11 #subhead {
    display: block;
}
