#bannercontainer { background-image: url(t4/fims/i/bannerback.gif); }
#bannerleft { background-image: url(t4/fims/i/banner.gif); }
#toprow,
#subhead {background-image: url(t4/generic/i/fims/subhead.gif); }
#subhead a:hover {color: #a3b8cd;}
#left-column .sideblock .header {background-color: #205a8d;}
body.category-10 #bannercontainer { background-image: url(t4/statistics/i/bannerback.gif); }
body.category-10 #bannerleft { background-image: url(t4/statistics/i/banner.gif); }
body.category-8 #bannercontainer { background-image: url(t4/maths/i/bannerback_blue.gif); }
body.category-8 #bannerleft { background-image: url(t4/maths/i/banner_blue.gif); }
body.category-9 #bannercontainer { background-image: url(t4/bigswitch/i/bannerback.gif); }
body.category-9 #bannerleft { background-image: url(http://www.psy.gla.ac.uk/images/t4/banner.gif); }
body.category-10 #subhead,
body.category-8 #subhead,
body.category-9 #subhead {
    display: block;
}
