#bannercontainer { background-image: url(t4/medicine/i/bannerback.gif); }
#bannerleft { background-image: url(t4/medicine/i/banner.gif); }
#toprow,
#subhead,
#toprow,
#subhead {background-image: url(t4/generic/i/med/subhead.gif); }
#left-column .sideblock .header {background-color: #40685b;}

body.category-129 #bannercontainer { background-image: url(t4/cancersciences/i/bannerback.gif); }
body.category-129 #bannerleft { background-image: url(t4/cancersciences/i/banner.gif); }
body.category-130 #bannercontainer { background-image: url(t4/cardiovascularmed/i/bannerback.gif); }
body.category-130 #bannerleft { background-image: url(t4/cardiovascularmed/i/banner.gif); }
body.category-131 #bannercontainer { background-image: url(t4/communitybasedsciences/i/bannerback.gif); }
body.category-131 #bannerleft { background-image: url(t4/communitybasedsciences/i/banner.gif); }
body.category-132 #bannercontainer { background-image: url(t4/dental/i/bannerback_new.gif); }
body.category-132 #bannerleft { background-image: url(t4/dental/i/banner_new.gif); }
body.category-133 #bannercontainer { background-image: url(t4/devmed/i/bannerback.gif); }
body.category-133 #bannerleft { background-image: url(t4/devmed/i/banner.gif); }
body.category-134 #bannercontainer { background-image: url(t4/immunology/i/bannerback.gif); }
body.category-134 #bannerleft { background-image: url(t4/immunology/i/banner.gif); }
body.category-135 #bannercontainer { background-image: url(t4/medicine/i/bannerbackadmin.gif); }
body.category-135 #bannerleft { background-image: url(t4/medicine/i/banneradmin.gif); }
body.category-136 #bannercontainer { background-image: url(t4/nursing/i/bannerback.gif); }
body.category-136 #bannerleft { background-image: url(t4/nursing/i/banner.gif); }
body.category-138 #bannercontainer { background-image: url(t4/medicine/i/bannerback_gradschool.gif); }
body.category-138 #bannerleft { background-image: url(t4/medicine/i/banner_gradschool.gif); }
body.category-171 #bannercontainer { background-image: url(t4/clinicalneuroscience/i/bannerback.gif); }
body.category-171 #bannerleft { background-image: url(t4/clinicalneuroscience/i/banner.gif); }

body.category-129 #subhead,
body.category-130 #subhead,
body.category-131 #subhead,
body.category-132 #subhead,
body.category-133 #subhead,
body.category-134 #subhead,
body.category-135 #subhead,
body.category-136 #subhead,
body.category-138 #subhead,
body.category-171 #subhead {
    display: block;
}
