#bannercontainer { background-image: url(t4/philosophy/i/bannerback2.gif); }
#bannerleft { background-image: url(t4/philosophy/i/banner2.gif); }
#toprow,
#subhead {background-image: url(t4/generic/i/arts/subhead.gif); display: block;}
#left-column .sideblock .header {background-color: #693f58;}

