


#bannercontainer {
background:none;

background-position: top right;
 background-repeat:no-repeat;
background-color:#4a6b9c; 
background-image: url(http://www.gla.ac.uk/t4/archives/i/bannerback_blank.gif);
 }

#bannerleft  {

background: url(http://www.gla.ac.uk/t4/archives/i/banner_brewing.gif);
width:550px;  }
 
