/* for /services/staffdevelopment  */





#bannercontainer {
background-image: url(http://www.gla.ac.uk/t4/staffdevelopment/i/bannerback.gif);
background-repeat: repeat-x; }

#bannerleft  {
background: url(http://www.gla.ac.uk/t4/staffdevelopment/i/banner.gif);
}
 
