body {
  font: Georgia, "Times New Roman", Times, serif;
}
body {
  width:100%;
}

.clear {
  clear: left;
}
a {
  text-decoration: none;
}
input, textarea, select, button {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: #5c5940 url([[pix:theme|arch1]]) repeat-x bottom fixed;
}
body {
  background: url([[pix:theme|arch2]]) no-repeat 960px bottom fixed;
}
body.moodledev-cent-gla-ac-uk--moodle2 {
  background: rgb(207,212,216);
}
body.category-5 #page-content .content-header {
  background-color: rgb(0,124,133);
}
body.category-2 #page-content .content-header {
  background-color: rgb(83,46,99);
}
body.category-3 #page-content .content-header {
  background-color: rgb(119,121,9);
}
body.category-4 #page-content .content-header {
  background-color: rgb(59,110,143);
}

header {
  background-color: #005288;
  color: #fff;
  overflow:hidden;
}
header h1 a {
  color: #fff;
}
header h1 a:hover {
  color: #e9dedf;
}
footer {
  color: #333;
}
footer a {
  color: #004d9c;
}
footer ul {
  width: 310px;
}
footer ul li a {
  color: #004d9c;
}
footer {
  text-align: left;
}
footer .logininfo,
footer .sitelink,
footer .helplink,
footer .homelink a {
  padding: 0;
  margin: 0;
}


#page {
  margin-left: 20px;
  padding-right: 20px;
  padding-bottom: 5em;
  width: 100%;
}
#page-content {
  margin-top: 25px;
  padding-bottom: 3em;}

#blocks1 {
  width: 200px;
  margin-left: -200px;
}
 
#blocks2 {
  width: 200px;
  margin-right: -200px;
}
 
#layout {
  padding: 0px 200px; 
  overflow: hidden;
}

.blocks1-only #layout {
  padding: 0px 8px 0px 200px;
}

.blocks2-only #layout {
  padding: 0px 200px 0px 8px;
}
.no-blocks #layout {
  padding: 0px 8px;
}

header {
  padding: 30px 25px 0 25px;
  background: #005288 url([[pix:theme|pageheader]]) no-repeat bottom right;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

#branding #logo {
  display: none;
}
.headermain {
  font-size: 0;
  margin: 0;
}
.headermain  {
  float: left;
  width: 172px;
  height: 54px;
  display: block;
  overflow: hidden;
  text-indent: -5000em;
  background: url([[pix:theme|logo]]) no-repeat;
}

#head-menu {clear: both; width: 100%;}
#head-menu h3 {display: none;}
#head-menu ul {margin: 0; padding: 0; border: none; position: relative; left: 50%; float:left;}
#head-menu {margin: 0; padding: 0; border: none; position:relative;width:100%;float:left;}
#head-menu ul li {display: inline; float: left; padding: 0.7em 0; font: 108% Arial, Helvetica, sans-serif; background: #00375c; border:none; right: 50%; position: relative;}
#head-menu ul li:first-child {border-top-left-radius: 5px;}
#head-menu ul li:last-child {border-top-right-radius: 5px;}
#head-menu ul li a {padding: 0 2.55em; color: #fff; border: none; border-left: 1px dotted #4d718a;}
#head-menu ul li a:hover {text-decoration: underline; color: #96bcd5;}
#head-menu ul li:first-child a {border-left: none;}
#head-menu ul li.active {background: #002239; color: #fff;}

header .logininfo {float: right; clear: right; padding-bottom: 2em; padding-top: 15px;}

#siteTools {float: right;}
#siteTools h3 {display: none;}
#siteTools ul {margin: 0px;}
#siteTools ul li,
header .logininfo {display: inline; margin-left: 1em; padding-left: 1em; font: 100% Arial, Helvetica, sans-serif; border-left: 1px dotted #4d86ac;}
#siteTools ul li:first-child,
header .logininfo {border-left: none;}
#siteTools ul li a,
header .logininfo a {padding-bottom: 2px; color: #fff; border-bottom: 4px solid transparent; text-decoration: none;}
#siteTools ul li a:hover,
header .logininfo a:hover {border-bottom-color: #3d779c;}

#page-content .breadcrumb {float: left; width: 100%; margin: 0.8em 0 5px 0; padding: 0 0 20px 0; background: url([[pix:theme|breadcrumbs_hr]]) no-repeat; background-position:left bottom;}
#page-content .breadcrumb h3 {display: none;}
#page-content .breadcrumb ul {margin: 0; padding: 0; width:80%, float:left;}
#page-content .breadcrumb ul li {display: inline; font: 93% Arial, Helvetica, sans-serif; color: #777;}
#page-content .breadcrumb ul li a { color: #444;}
#page-content .breadcrumb ul li a:hover {text-decoration: underline;}
#page-content .navbuttion {float: right;}

#page-content {overflow: hidden; background: #fff; border-radius: 6px; box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);}
#page-content .content-header {margin-bottom: 1.6em; border-top-left-radius: 4px; border-top-right-radius: 4px;}
#page-content .content-header {color: rgb(255,255,255); background-color: rgb(0,82,136);}
#page-content .content-header h1 {min-height: 36px; margin: 0; padding: 17px 15px; font: 230% Arial, Helvetica, sans-serif; background: url([[pix:theme|pagecontent_header]]) no-repeat right bottom; text-overflow: ellipsis; overflow:hidden; white-space: nowrap;}


#page-content .extraNav  {margin-top: 20px; margin-left: 15px; margin-right:15px; font-size: 93%; color:#333;}
#page-content .extraNav a  {color:#333}


footer .backToTop {float: left; margin-left: 17px; font: 93% Arial, Helvetica, sans-serif; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; background-color: #939393; background: rgba(0, 0, 0, 0.3) url([[pix:theme|shadow_bottom]]) repeat-x;}
footer .backToTop a {display: block; padding: 0.7em 1.2em; color: #fff;}
footer .backToTop a:hover {color: #ccc;}
footer {color: rgb(51,51,51);font: 93% Arial, Helvetica, sans-serif;text-align: left;}

footer .contact {clear: left; float: left; width: 350px; margin-top: 1.2em; padding-left: 221px; }
footer .contact .adr {margin: 2.25em 0 0.5em 0;}
footer .contact .phoneEmail dl,
footer .contact .phoneEmail dd {display: inline;}
footer .contact .org {margin-bottom: 0.15em; font: 167% Georgia, "Times New Roman", Times, serif;}
footer .contact .org em {font-style: italic;}
footer .contact a:hover {text-decoration: underline;}

footer ul {float: left; width: 340px; margin-top: 2.1em;}
footer ul li {list-style: none; font: 93% Arial, Helvetica, sans-serif; line-height: 1.8em;}
footer ul li a:hover {text-decoration: underline;}

footer .logininfo,
footer .homelink,
footer .homelink a,
footer .helplink {margin: 0px; padding: 0px;}
footer .helplink {margin-left:-20px;}


.block .header h2,
.block_recent_activity h3.main {
margin: 20px 0px 0px 0px; padding-bottom: 4px; font: 131% Arial, Helvetica, sans-serif;}
.block { border: none; margin: 0;}


#blocks1 .region-content { padding: 0 0 0 8px;}
#blocks2 .region-content { padding: 0 8px 0 0;}


.course-content ul.topics li.section .content,
.course-content ul.weeks li.section .content
 { margin: 0px; padding:0px;}



.coursebox h3,
.course-content .single-section .section-navigation .title, /* MDL-34613 */
.course-content .section-summary .section-title, /* MDL-34613 */
h3.sectionname {
background: url([[pix:theme|jumplink_header]]) no-repeat scroll right bottom transparent;
font-size: 150%;
padding: 0.3em 0em 0.3em 0.5em;
margin: 0px;
font-weight: normal;
border-bottom: 1px solid rgb(227,227,227);
text-overflow: ellipsis; overflow:hidden; white-space: nowrap;
text-align: left;
}
.course-content .section-summary {
  border: none;
}
.course-content .section-summary .summarytext {
  margin: 0px;
}

.course-content .single-section .section-navigation {
  margin-bottom: 0px;
}
.course-content .single-section .section-navigation .title { /* MDL-34613 */
clear: both;
border-radius: 5px 5px 0px 0px;
margin: 0px 14px;
border: 1px solid rgb(227,227,227);
border-bottom: none;
}

.path-course-view .course-content .single-section .section-navigation {
  padding: 0px;
}
.path-course-view .course-content .single-section .section-navigation .title {
  margin-left:  20px;
  margin-right:  20px;
  min-height: 20px;
}
.path-course-view .course-content .single-section div.content {
border-radius: 0px 0px 5px 5px;
}
.course-content .single-section ul.topics li.section, 
.course-content .single-section ul.weeks li.section {
margin-top: 0px;
}
.coursebox div.info h3.name {
 width: 250%;
 margin-bottom: 0.5em;
}
.coursebox {overflow: hidden;}

.coursebox div.summary p,
div.summarytext p {
  padding-top: 4em;
}


.coursebox,
.path-course-view .course-content ul.topics div.content,
.path-course-view .course-content ul.weeks div.content {
  border: 1px solid rgb(227,227,227);
  border-radius: 5px;
  box-shadow: 0px 3px 3px #eee;
}

.coursebox {
  width: 95%;
  margin: auto;
  margin-bottom: 5px;
}

li.section.current .content {
  background-color: transparent;
}

li.section.current h3.sectionname {
  color: #eee;
  background-color: #666;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
}

.course-content ul.topics li.section .content,
.course-content ul.weeks li.section .content {
  margin: 0 20px;
}

div.navbar {
  padding: 0px 0px 3px;
}
.path-my div.navbar, 
div.sitetopic,
#page-site-index .headingblock,
.path-course-view div.navbar {padding: 0px 20px;}
.path-login div.navbar {padding: 0px 220px;}
.pagelayout-login div.navbar {padding: 0px 220px;}

.course-content ul.topics li.section div.left,
.course-content ul.weeks li.section div.left {
text-align: right;
width: auto;
margin-left: 3px;
margin-top: -11px;
}
.course-content ul.topics li.section div.right,
.course-content ul.weeks li.section div.right {
width: 16px;
margin: 0px;
padding-top: 5px;
padding-right: 1px;
}
.course-content ul.topics li.section div.right img.icon,
.course-content ul.weeks li.section div.right img.icon {
padding: 0px;
}
.section-modchooser,
.section_add_menus {
  width: auto;
  margin-bottom: 9px;
  margin-right: 9px;
}

li.section .summary,
li.section .summarytext {padding-left: 15px; margin-bottom: 0px}
li.section .summary img.iconsmall.edit,
li.section .summarytext img.iconsmall.edit {
  padding:10px 0px;
}

li.section .summary .no-overflow p,
li.section .summarytext .no-overflow p {
  padding: 4px;
}
li.section .summary .no-overflow p:last-child,
li.section .summarytext .no-overflow p:last-child {
  margin-bottom: 0px;
}

.block .header .commands {margin-left: 0px;}
.block .content {padding:0px;}

li.activity a:visited,
li.activity a,
div.region-content a:visited,
div.region-content a,
div.content a:visited,
div.content a {color: rgb(0,77,156);}
div.region-content a.nolink,
div.content a:visited.nolink {color: rgb(0,0,0);}

table#participants {margin: 1em auto;}

.categorybox {padding-left: 1em;}


#dndupload-status {
  width: 400px;
  background: #eef;
  margin: auto;
}

input#adminsearchquery {
  width:110px;
}
input#searchform_search {
  width:140px;
}
.navbar {
  margin-bottom: 0px;
}
.path-backup .mform .fgroup .proceedbutton {
  float:none;
}
#page-report-outline-user .section {
  border: none;
  padding: none;
}

