/* for departments/theatrefilmtv */




#bannercontainer { 

background-position: top right;
/* background-repeat:no-repeat;
background-color:#4a6b9c; */
background-image: url(http://www.gla.ac.uk/t4/theatrefilmtv/i/bannerback.gif);
background-repeat: repeat-x;  }

#bannerleft  {

background: url(http://www.gla.ac.uk/t4/theatrefilmtv/i/banner.gif);
width:520px;  }
 

.splashpic {
background-color:#00736a;  }

	   
