#bannercontainer { background-image: url(t4/college_mvls/i/bannerback1.gif); }
#bannerleft { background-image: url(t4/college_mvls/i/banner.gif); }

#left-column .sideblock .header {background-color: #007c85;}
