/* T4 Generic Dept SS */

body {
background: none;
background-color:#f4f4f4;
font-family: verdana, lucida, arial, helvetica, sans-serif;
color: #404040;
font-size: 96%;
margin: 0px;
padding: 0px;
text-align: center; 
}


 #wrapper
{padding:0; margin:0; text-align:center;
margin: 0 auto;
min-width: 780px;
max-width:1100px;
}

#headers_container  {
background-color:#fff;
width: 90%;
margin: 0 auto;
border: 1px solid #ccc;
border-top: 0;
padding-bottom: 5px; 
}

/* top row logotype search etc */

#toprow  {
font-family: verdana, lucida, arial, helvetica, sans-serif;
font-size: 0.66em;
clear: both;
text-align: right;
padding: 3px 0px 2px 0px;
color: #fff;
background-color:#121212;
background-image: url(t4/generic/i/subhead_us.gif); 
background-position:left;
background-repeat: repeat-y;
border-top: 5px solid #fff;
border-left: 5px solid #fff;
border-right: 5px solid #fff;
border-bottom: 1px solid #fff;
min-height:20px;  height:auto !important; height: 20px; 
}

.logotype {
float:left;
padding:1px 2px 0 7px;
}
#toprow a {font-weight: normal;}
#toprow a:link {
color: #fff;
text-decoration: none;
border: 0;   
}

#toprow a:visited {
color: #fff;
text-decoration: none;  
border: 0;
}

#toprow a:hover {
color: #993333;
text-decoration: none; 
border: 0;  
}

#toprow form {
margin: 0 5px 0 0;
padding: 0px;
padding-bottom: 2px;
}

#toprow input.searchbox {
margin: 0px 2px 0px 0px;
padding: 0px;
height: 15px;
width: 118px;
border: 1px solid #ccc;
background-color:#efefef;
font-family: verdana, lucida, arial, helvetica, sans-serif;
font-size: 10px;
line-height: normal;
font-weight: normal;
color: #666666;
vertical-align: middle; }

#toprow input.go {
margin: 0px;
padding: 0px;
width: 15px;
border: 0px;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
line-height: normal;
font-weight: normal;
color: #666666;
vertical-align: middle;
}

/* banner  */

#bannercontainercontainer { border:0; }

#bannercontainer { 
padding:0; 
margin:0;
background-position:top right;
background-repeat: no-repeat;
border-left: 5px solid #fff;
border-right: 5px solid #fff;
border-bottom: 1px solid #fff;
overflow:hidden;
}

#bannerleft  {
float:left;
height:70px;
border:0;
margin:0;
padding:0;
overflow:hidden;
}

#bannerright  {
text-align: right;
height:70px;
border:0;
margin:0;
padding:0;
}

#bannerforprint  { display: none;  }

#subhead  {
font-family: verdana, lucida, arial, helvetica, sans-serif;
background: url(t4/generic/i/subhead_us.gif) top left no-repeat #d4d4d4 ; 
border: 0;
border-left: 5px solid #fff;
border-right: 5px solid #fff;
margin: 0;
padding: 2px 5px 4px 7px;
font-weight:normal;
color: #4a4a4a;
font-size: 0.7em;
text-align: left;
clear: both; 
min-height: 15px; height: auto !important; height: 15px;  }


#subhead a {font-weight: bold;}
#subhead a:link {
color: #ccc;
text-decoration: none;  
border-bottom: 0;
}

#subhead a:visited {
color: #ccc;
text-decoration: none; 
border-bottom: 0;  
}
#subhead a:hover {
color: #fff;
text-decoration: none;
border-bottom: 0;
}

#container {
border: 0;
background: url(t4/generic/i/navback.gif) repeat-y ;
width: 90%;
margin:  0 auto;
padding: 0;
text-align: left;

}

/* breadcrumbs  */

.breadcrumb  {
font-family: verdana, lucida, arial, helvetica, sans-serif;
background-color: #f4f4f4;
padding: 4px 0 4px 12px;
position: relative;
text-align: left;
border: 0;
font-weight:bold;
font-size:0.8em;
color: #000;
text-align: left;
text-decoration: none;
}
.breadcrumb a {font-weight: normal;}
.breadcrumb a:link {
color: #4c4c4c;
text-decoration:none; 
border-bottom: 0;
}

.breadcrumb a:visited {
color: #4c4c4c;
text-decoration:none; 
border-bottom: 0;  
}

.breadcrumb a:hover {
color: #933;
text-decoration:underline;
border-bottom: 0;
}


#mainpage {
background:url(t4/generic/i/navbottom.gif) no-repeat left bottom;
padding: 0;
font-size: 0.75em;
line-height:150%;
border: 0;
margin:  0;
}

#mainpage_forbottom {
clear:right;
padding: 0;
border:0;
background:url(t4/generic/i/linksback.gif) repeat-y right;
margin: 0;
}

#content {
background-color:#fdfdfd;
padding: 1px 0 0 0;
position:relative;
text-align: left;
border: 5px solid #fff;
margin:0 160px 0 177px;

}

.maincontentend {
background: #f4f4f4;
padding: 0;
position:relative;
text-align: left;
border: 5px solid #f4f4f4;
margin:0 160px 0 177px;

}
tr.section.hidden,
.sideblock.hidden,
a.dimmed img {
filter: gray;
opacity: .50;
}

p {
margin: 0;
padding: 0 0 10px 0;
}



table  {
font-size: 100%;
margin-bottom: 10px;
}

table tr { vertical-align: top;
text-align: left; }

table.border td, th {

border: 1px solid #333;
padding: 2px;

}


h1 {
font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.4em;
color: #404040;
margin: 0 0 10px 0;
padding: 0;

}

h2 {
font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.2em;
color: #404040;
margin: 0;
padding: 0 0 10px 0;
}

h3 {
font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.1em;
color: #404040;
margin: 0;
padding: 0 0 5px 0;
}

h4 {
font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.1em;
color: #404040;
margin: 0;
padding: 0;
}

h5 {
font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.1em;
color: #404040;
margin: 0;
padding: 0;
}

h6 {
font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: 1.1em;
color: #404040;
margin: 0;
padding: 0;
}



th {
background-color: #efefef;
text-align: left;
}
a {font-weight: bold;
color: #003c69;}
a:link {
text-decoration:  none;
color: #003c69;

}

a:visited {
text-decoration: none;
color: #003c69;
}

a:hover {
color: #999;
text-decoration: underline;
}

.spacer {
clear: both;
position: relative;
}




#footer {
font-family: verdana, lucida, arial, helvetica, sans-serif;
border: 0;
font-size: 0.7em;
font-style: normal;
font-weight: normal;
clear: both;
text-align: right;
padding: 0 10px 2px 10px;
color: #4c4c4c;
width: 90%;
margin: 0px auto;
}

#left-column,
#right-column {
font-family: verdana, lucida, arial, helvetica, sans-serif;
background-color:#fff;
padding: 5px;
margin: 0;
border: 1px solid #ccc;
font-size: 0.9em;
}
#left-column { margin-left: -5px; }
#right-column { margin-right: -5px; }
#middle-column {
font-family: verdana, lucida, arial, helvetica, sans-serif;
background-color:#fff;
padding: 40px;
padding-top: 5px;
}

#layout-table { margin: 0; border: none; border-spacing: 5px }

#content {border: none; background-color: transparent; }
#content,
.navbar {
width: 91%;
margin: auto;
margin-top: 0;
padding: 0;

}

.navbar {
border: none;
}

#subhead {
        color: #ccc;
        background-color: #000;
}
#subhead a:link {
        color: #ccc
}
#subhead a:hover {
        color: #eee;
}

.highlight {color: #000; background-color: #9ff; padding-left: 0.2em; padding-right: 0.2em;}

#bannercontainer { background-image: url(t4/bigswitch/i/bannerback.gif); }
#bannerleft {
        width: 530px;
        background-repeat: no-repeat;
        background-image: none;
}

#right-column .block_adminblock .header,
#left-column .sideblock .header,
#right-column .sideblock .header {background-color: #777; border: none; padding: 0;}
#left-column .sideblock .header {background-color: #003c69; }
#right-column .block_adminblock .header,
#left-column .sideblock .title h2,
#right-column .sideblock .title h2 {color: #fff; padding: 4px;}
#left-column .sideblock .header .commands,
#right-column .sideblock .header .commands { background-color: #fff; width: 100%; margin: 0; padding: 3px 0 }
#subhead {display:none;}

.generalboxcontent { background: white;}
