/* for /departments/archaeology */


#bannercontainer {
background-image: url(http://www.gla.ac.uk/t4/archaeology/i/bannerback.gif);
background-repeat: repeat-x;}

#bannerleft  {
background: url(http://www.gla.ac.uk/t4/archaeology/i/banner.gif);
width:350px;
}
 


 


.splashpic {
background: #719ecf   url(http://www.gla.ac.uk/t4/archaeology/i/splashback.gif) ;
background-repeat:repeat-x;
background-position: top right;
 }




 /* start headings  */


h1, h2, h3, h4, h5, h6 {

color: #800000;

}



 /* end headings */


/* #navigation p a:hover {
display: block;
color:#fff;
background: #121212  url(http://www.gla.ac.uk/t4/generic/i/lioff.gif) repeat-y;
border-bottom: 0;
padding: 3px 1px 3px 7px;
width:160px;
voice-family: "\"}\"";
voice-family: inherit;
width:152px; 
}



#navigation p.toptail {
background:#366aa3; }
 
#navigation p {
background-color:#366aa3;
}


#navigation p a:link {
color: #fff;
background: #366aa3 url(http://www.gla.ac.uk/t4/generic/i/arts/li.gif) repeat-y;
}

#navigation p a:visited {
color: #fff;
background: #366aa3 url(http://www.gla.ac.uk/t4/generic/i/arts/li.gif) repeat-y;
}


#navigation p a:hover {
color: #fff;
background: #121212 url(http://www.gla.ac.uk/t4/generic/i/arts/li.gif) repeat-y;
}

*/



.maincontent img {
z-index: 1;
}