/* for lbss  */


/* @@@@@@@@@ banners @@@@@@@@@ */

#bannercontainer {
background:none;
background-color:#121212; 
background-image: url(http://www.gla.ac.uk/t4/lbss/i/bannerback.gif);
background-position: top right;
background-repeat:no-repeat;  }

#bannerleft  {
background: url(http://www.gla.ac.uk/t4/lbss/i/banner.gif);
width:390px;  }

/* @@@@@@@@@ subhead @@@@@@@@@ */

#subhead  { display:none; }