/* for /services/raps */


#bannercontainer {
background-image: url(http://www.gla.ac.uk/t4/raps/i/bb.jpg);
background-repeat: repeat-x;}

#bannerleft  {
background: url(http://www.gla.ac.uk/t4/raps/i/banner.gif);
width:300px;
}
 


 
 
 
 /* below here  */
 
