/* for economichistory */

/* @@@@@@@@@ banners @@@@@@@@@ */

#bannercontainer {
background:none;
background-color:#121212; 
background-image: url(http://www.gla.ac.uk/t4/economichistory/i/bannerback.gif);
background-position: top right;
background-repeat:no-repeat;  }

#bannerleft  {
background: url(http://www.gla.ac.uk/t4/economichistory/i/banner.gif);
width:360px; 
height:120px;
}

#bannerright  {
height:120px;
}
  