#bannercontainer { background-image: url(t4/college_socsci/i/bannerback1.gif); }
#bannerleft { background-image: url(t4/college_socsci/i/banner.gif); }
#left-column .sideblock .header {background-color: #3b6e8f;}

#bannerleft { background-image: url(t4/school_education/i/banner.gif); }
#subhead {display: block; }

