/* CSS Document */
body {
	font-family: verdana, lucida, arial, helvetica, sans-serif;
	color: #333;
	font-size: 10pt;
	background-color: #efefef;
	
}

#toprow form  {
	display: none;

}

#wrapper
{
width: 100% !important;
}


#bannercontainer  {  display: none; }


#bannerforprint  {size:18pt; font-weight:bold; }


#bannerforprint  h1 {size:18pt; font-weight:bold; font-family:"Times New Roman", Times, serif; color:#333; }

#toprow  {
	display:none;

}

#bread { display: none;  }



.links {
display:none;
	

}

.splashpiccontainercontainer  {  display: none;  }


		
#container {
	width: 100%;
	border: 0px;
	margin: 0px auto;
	background-color: #fff;
			}


		
#subhead a { text-decoration: none; 
color:#333;  }
		
		
		




#navigation {
	display: none;
	
		}
		



#footer {
	clear: both;
	padding: 0;
	margin-top: 0;
	background-color: #fff;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #efefef;
		}



#footer1  {
	display:none;
}

#footer2  {
	color: #333333;
	
	font-size: 0.7em;
	text-align: right;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-right: 2px;  }
		
p {
	margin: 0;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;

}

p.first {
	margin: 0;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	border-left: 15px solid #efefef;
	margin-bottom: 15px;
	font-weight: bold;
}


h1 {
	
	font-size: 1.4em;
	color: #933;
	padding: 0 0 5px 0;
	margin: 0;
}

h2 {
	
	font-size: 1.1em;
	color: #933;
	margin: 0;
	padding: 0 0 5px 0;
	
}

h3 {
	
	font-size: 1.1em;
	color: #933;
	margin: 0;
	padding: 0 0 5px 0;
	
}



h4 {
	
	font-size: 1.1em;
	color: #333;
	margin: 0;
	padding: 0;
}

h5 {
	
	font-size: 1.1em;
	color: #333;
	margin: 0;
	padding: 0;
}

h6 {
	
	font-size: 1.1em;
	color: #333;
	margin: 0;
	padding: 0;
}

th {
	background-color: #efefef;
	text-align: left;

}

a:link {
	color: #333399;
	text-decoration: underline;
}
a:visited {
	color: #333399;
	text-decoration: underline;
}


td {border: 1px solid #ddd; }


