/* for generic/engineering  */

/* @@@@@@@@  top row @@@@@@@@*/

#toprow {background-image: url(http://www.gla.ac.uk/t4/generic/i/engineering/subhead.gif); }

/* @@@@@@@@@ subhead @@@@@@@@@ */

#subhead  {  background: #121212 url(http://www.gla.ac.uk/t4/generic/i/engineering/subhead.gif) top left no-repeat ;
color:#ccc;
display:block; }

#subhead a:link {
	color: #ccc;
	text-decoration: none; 
	border-bottom: 0;  }
#subhead a:visited {
	color: #ccc;
	text-decoration: none; 
	border-bottom: 0;  }
#subhead a:hover {
	color: #c2c0d8;
	text-decoration: none;
	border-bottom: 0;
}
	  
	  
/* @@@@@@@@@ left navigation @@@@@@@@@ */	  

#navigation p {
background-color:#121212; }

#navigation p a:link {
color: #fff;
background: #121212  url(http://www.gla.ac.uk/t4/generic/i/engineering/li.gif) repeat-y; }

#navigation p a:visited {
color: #fff;
background: #121212  url(http://www.gla.ac.uk/t4/generic/i/engineering/li.gif) repeat-y; }

#navigation p a:hover {
color: #fff;
background: #121212    url(http://www.gla.ac.uk/t4/generic/i/engineering/li.gif) repeat-y; }

#navigation ul li a {
background: #f4f4f4  url(http://www.gla.ac.uk/t4/generic/i/engineering/li.gif) repeat-y;
border-top: 1px solid #c2c0d8; }

#navigation  li .currentsection {

background: #c6c6c6  url(http://www.gla.ac.uk/t4/generic/i/lion.gif) no-repeat;    
border-top: 1px solid #c2c0d8;
}

#navigation  li ul li .currentsection {

background: #c6c6c6  url(http://www.gla.ac.uk/t4/generic/i/lilion.gif) no-repeat;    
border-top: 1px solid #c2c0d8;
}

#navigation  li ul li ul li .currentsection {

background: #c6c6c6  url(http://www.gla.ac.uk/t4/generic/i/lililion.gif) no-repeat;    
border-top: 1px solid #d6dab6;
}
	  

#navigation ul li ul li a {
background: #f4f4f4  url(http://www.gla.ac.uk/t4/generic/i/engineering/lili.gif) repeat-y;
border-top: 1px solid #d6dab6; }

#navigation ul li ul li ul li a {
background: #f4f4f4  url(http://www.gla.ac.uk/t4/generic/i/engineering/lilili.gif) repeat-y;
border-top: 1px solid #d6dab6; }

/* @@@@@@@@@ right navigation : links @@@@@@@@@ */

.links ul   { background-color:#fff;  }

.links ul li   {

border-bottom: 1px solid #d6dab6; 

}


.links ul li a   {
display: block;
text-decoration: none;
font-weight:normal;
color: #433f6d;
width:142px;
voice-family: "\"}\"";
voice-family: inherit;
width:137px; 
}
	  
html>body .links ul li  a {width: auto;}

.links ul li a:link { 
color: #433f6d; 
text-decoration: none;
border: 0; 
}

.links ul li a:visited { 
color: #433f6d; 
text-decoration: none;
border: 0; 
}

.links ul li a:hover  { 
color: #121212;  
text-decoration: none;
border: 0; }


.links h1 {
color: #fff;
background-color:#121212;
text-transform: none;
border-bottom: 1px solid #fff; 
}
	 	  

#navigation p.toptail {
background: #121212;
padding: 0px 1px 0px 7px;
width:160px;
height:6px;
overflow: hidden;
voice-family: "\"}\"";
voice-family: inherit;
width:152px;
margin-bottom:10px;  }


/* @@@@@@@@@ other stuff @@@@@@@@@ */

#facultyarrow {
color: #433f6d; 
font-family: lucida, arial, helvetica, sans-serif;
}

.pullquote  {
color: #fff;
background: #433f6d;
text-indent: 0;
}

.pullquote a:link {
color: #fff;
text-decoration:underline; 
border-bottom: 0;
}

.pullquote a:visited {
color: #fafafa;
text-decoration: none; 
border-bottom: 0;  
}
.pullquote a:hover {
color: #fff;
text-decoration: none;
border-bottom: 0;
}

.textsplash  {
color: #000;
background:#c2c0d8;
}
