/* for computingscience  */  

/* @@@@@@@@@ banners @@@@@@@@@ */

#bannercontainer {
background:none;
background-color:#121212; 
background-image: url(http://www.gla.ac.uk/t4/computingscience/i/bannerback.gif);
background-position: top right;
background-repeat:no-repeat;  }

#bannerleft  {
background: url(http://www.gla.ac.uk/t4/computingscience/i/banner.gif);
width:240px;  }


.splashpic {


background: #5c5ea8 url(http://www.gla.ac.uk/t4/computingscience/i/splashback.gif);
background-repeat: repeat-x;
background-position:top;
  }