/* header row in tbody rather than thead, okay in vertical tables */
table tbody tr th {border: thick solid green !important; }
table tbody tr th:first-child {border: none !important;}


/* don't use these */
hr,
font 
{
border: thick solid red !important;
}
br
{   content: "A" !important;
    display: block !important;
    margin-bottom: 10em !important;
}

/* why is this .hidden, seem to be used consistently for form footer
   section containing submit buttons, but also randomly elsewhere
   Okay, figured it out. It's presentational HTML, these fieldsets 
   were not to be displayed as black box like others in the default
   theme were */
fieldset.hidden
{
 border: thick solid red !important;
}

/* should be in some kind of .alert .warning or .info etc. */
#page-admin-roles-assign h2 + .box.generalbox, 
.msg 
{
 border: thick solid red;
}

/* tables that should maybe have an id to target them directly */
#page-admin-grade-edit-letter-index .generaltable,
#page-admin-grade-edit-scale-index .generaltable,
#page-admin-roles-manage .generaltable,
#page-admin-roles-allow .generaltable,
{
 border: thick solid red;
}

/* positional html, should be in css */
.boxaligncenter
{
 border: thick solid red;
}

/* header should be in thead, not tbody */
table#modules tbody tr th, 
table.compatibleblockstable tbody tr th {
border: thick solid red;
}

/* don't set borders or style or width in the HTML */
[style],
[border],
[width]
{
border: thick solid red;
}

/* problems that are too widespread to highlight */
.box,
.generalbox
{}
