/* for /departments/celtic */


#bannercontainer {
background-image: url(http://www.gla.ac.uk/t4/celtic/i/bannerback.gif);
background-repeat: repeat-x;}

#bannerleft  {
background: url(http://www.gla.ac.uk/t4/celtic/i/banner.gif);
width:300px;
}
 
 
 #navigation p {
background-color:#693f58; }

#navigation p a:link {
color: #fff;
background: #693f58  url(http://www.gla.ac.uk/t4/generic/i/arts/li.gif) repeat-y; }

#navigation p a:visited {
color: #fff;
background: #693f58  url(http://www.gla.ac.uk/t4/generic/i/arts/li.gif) repeat-y; }

#navigation p a:hover {
color: #fff;
background: #121212    url(http://www.gla.ac.uk/t4/generic/i/arts/li.gif) repeat-y; }

#navigation p.toptail  {
background-color: #693f58;  }